<h1>welcome to Bookers !!</h1>

<p>In bookers,<br>
you can share and exchange your opinions , inpressions , and emotions<br>
about varioinus books!</p>

<%= link_to new_user_session_path do %>
    <div class="log_in">Log_in</div>
<% end %>
<%= link_to new_user_registration_path do %>
    <div class="Sign_up">Sign_up</div>
<% end %>

<p>CopyRight Infratop.inc</p>